@using Newtonsoft.Json;
@model List<ConnectMedia.Common.DTO.GetRunningNoticeClassifiedDTO>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    string json = JsonConvert.SerializeObject(@Model, Formatting.Indented);
    <p>@json</p>
}

