@model ConnectMedia.Common.DTO.VideoDTO

@{
  ViewData["Title"] = "Upload Video";
}
<div class="row">
  <div class="col-md-4">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Title" class="control-label">Video Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Desc" class="control-label">Description</label>
        <input asp-for="Desc" class="form-control" />
        <span asp-validation-for="Desc" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Sequence" class="control-label">Sequence</label>
        <input asp-for="Sequence" class="form-control" type="number" />
        <span asp-validation-for="Sequence" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label class="control-label">Role</label>
        <select asp-for="Portion" class="form-control" asp-items="@Html.GetEnumSelectList<ConnectMedia.Common.Enum.TutorialType>()">
          <option>Select Type</option>
        </select>
        <span asp-validation-for="Portion" class="text-danger"></span>
      </div>
      <div class="form-group">
        <div class="col-md-10">
          <p>Upload video: </p>
          <label asp-for="videoFile" class="control-label"></label>
          <input type="file" asp-for="videoFile" class="form-control" />
          <span asp-validation-for="videoFile" class="text-danger"></span>
        </div>
      </div>
      <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

