@model List<ConnectMedia.Common.DTO.GetRunningNoticeClassifiedDTO>
@{
    ViewData["Title"] = "Index";
}

@Html.Partial("GetCurrentPlaylist",Model);
<div class="row mb-3">
    <div class="offset-10 col-lg-2 col-md-2">
        <a type="button" class="btn waves-effect waves-light btn-block btn-success" asp-action="Notices">View Notices</a>
    </div>
</div>
<div class="container">
    <div class="row text-center mb-5">
        <div class="col-12">
            <h3>How will you be creating this Notice</h3>
        </div>
    </div>
    <div class="row m-t-30">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <div class="card-icon">
                        <i class="icon-doc"></i>
                    </div>
                    <h4 class="card-title">Create from Scratch</h4>
                    <p class="card-text">Create a template from scratch.</p>
                    @*<a href="#" class="btn btn-info">Go somewhere</a>*@
                    <a type="button" class="btn waves-effect waves-light btn-block btn-success"
                       asp-controller="Notice" asp-action="Create">
                        Create Scratch
                    </a>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <div class="card-icon">
                        <i class="icon-layers"></i>
                    </div>
                    <h4 class="card-title">Create from a template</h4>
                    <p class="card-text">Use a template from our library</p>
                    @*<a href="#" class="btn btn-info">Go somewhere</a>*@
                    <a type="button" class="btn waves-effect waves-light btn-block btn-success"
                       asp-controller="Notice" asp-action="CreateTemplate">
                        Select a Template
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <div class="card-icon">
                        <i class="fa fa-file-pdf-o"></i>
                    </div>
                    <h4 class="card-title">Create from a pdf</h4>
                    <p class="card-text">Select a pdf you have to update</p>
                    @*<a href="#" class="btn btn-info">Go somewhere</a>*@
                    <a type="button" class="btn waves-effect waves-light btn-block btn-success"
                       asp-controller="Notice" asp-action="CreatePdf">
                        Create PDF
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <div class="card-icon">
                        <i class="fa fa-file-pdf-o"></i>
                    </div>
                    <h4 class="card-title">Create from a Doc</h4>
                    <p class="card-text">Select a Doc you have to update</p>
                    <a type="button" class="btn waves-effect waves-light btn-block btn-success"
                       asp-controller="Notice" asp-action="CreateDoc">
                        Create Doc
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    /* wrapper */
    .warp {
        position: relative;
        margin: 50px 100px;
    }

    /* progress bar */
    .line {
        width: 500px;
        height: 5px;
        background: red;
        position: absolute;
        left: 0;
        top: 0;
    }

    /* step */
    .step {
        width: 0px;
        height: 5px;
        background: blue;
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
    }

    /* count */
    .flag {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        border: 1px solid red;
        position: absolute;
        top: -8px;
        background: #fff;
        z-index: 10;
    }

    /* next/prev buttons */
    .next {
        margin-top: 30px;
    }

    .prev {
        margin-top: 30px;
    }
</style>