@model ConnectMedia.Common.DTO.NoticeDTO
@*@model List<ConnectMedia.Common.DTO.GetRunningNoticeClassifiedDTO>*@

@{
    ViewData["Title"] = "Preview";
    Layout = "~/Views/Shared/_WebviewLayoutmenu.cshtml";
}


<div class="row adsView">
    <div class="col-md-2 Weather-col">
        <div class='box weather-wrapper'>
            <div class='wave -one'></div>
            <div class='wave -two'></div>
            <div class='wave -three'></div>
            <div class="weathercon"><i class='fa fa-sun' style='color: #d36326;'></i></div>
            <div class="info">
                <h2 class="location">SUNNYVILLE</h2>
                <p class="date">MONDAY | SEP 12 | 12:34</p>
                <h1 class="temp">25 &deg;C | 77 &deg;F</h1>
            </div>
        </div>
        <span>Enable location to see yours! :)</span>
    </div>
    <div class="col-md-5 logo-news">
        <div class="logo-big">
            <img src="~/Images/connectlogo.jpg" class="img-fluid" />
        </div>
        <div class="news-frame">
            <iframe src="https://globalnews.ca/national/videos/section/canada/"></iframe>
            @*<iframe id="newsiframe" src="https://globalnews.ca/national/videos/section/canada/" width="420" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>*@
        </div>
    </div>
    <div class="col-md-5 nTCslider">
        @*@Html.Partial("GetCurrentPlaylist", Model);*@
        @Html.Raw(Model.Content);
        <!-- Column -->
        @*<div class="card">
                <div class="card-body p-0 collapse show text-center">
                    <div id="myCarousel2" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item flex-column active">
                                <img src="../assets/images/gallery/chair.jpg" alt="user">
                                <h4 class="m-b-30">Brand New Chair</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</div>


<style>
    .webview-wrapper .container-fluid {
        padding: 0 !important;
    }

    .webview-wrapper .container-fluid {
        padding: 0 !important;
        min-width: 100vw;
    }

    .Weather-col .box.weather-wrapper {
        border-radius: 0;
        height: auto;
    }

    .Weather-col {
        padding: 0;
    }

        .Weather-col .info {
            left: 0;
        }

    .nTCslider {
        height: 100vh;
        overflow: hidden;
    }

    /*news*/
    .logo-big {
        position: relative;
        z-index: 1;
    }
    .news-frame iframe {
        width: 100%;
        margin-top: -265px;
        z-index: 0;
        position: relative;
        height: Calc(100vh - 26px );
        /* overflow: hidden; */
        border: 0;
        box-shadow: none;
    }
    .nTCslider img {
        width: 100%;
    }

    div#header-ad-wrapper,
    header.mast li.logo.top-item,
    .mast .mobile-toggles .social-toggle,
    .video-promotion,
    .video-player .socialShare,
    div#video-navigation,
    .footer-contain {
        display: none !important;
        height: 0;
        width: 0;
    }

    .mast .mobile-toggles a {
        min-width: 80%;
    }

        .mast .mobile-toggles a.search-toggle {
            min-width: 20%;
        }
</style>
