@model ConnectMedia.Common.DTO.NoticeDTO


@{
    ViewData["Title"] = "Preview";
}

@*<div class="noticePreview">
        <div class="bg">
            @Html.Raw(Model.Content);

            @ViewBag.Key;
        </div>
    </div>*@



<div class="row adsView ipad">
    <div class="col-md-6 noticePreviewArea">

        @*@Html.Raw(Model.Content);*@
        <!--Carousel Wrapper-->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    @Html.Raw(Model.Content);
                </div>
@*<div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Third slide">
        </div>*@
            </div>
        </div>
        <!--/.Carousel Wrapper-->
    </div>
    @*<div class="col-md-6 adminPreviewArea">


        </div>*@
    <div class="col-md-6 adminPreviewArea">
        <div class="admintopboxes">
            <div class="currentTime">
                <i class="fa fa-clock-o"></i>
                <span>3:25 PM</span>
            </div>
            <div class="currentWeather">
                weather
            </div>
            <div class="currentDate">
                date
            </div>
        </div>
        <div class="adminnotice">
            <!--Carousel Wrapper-->
            <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails preview-box-slider" >
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">                   
                        <iframe width="560"
                                height="315"
                                src="@ViewBag.CurrrentNotice"
                                frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                    <div class="carousel-item">
                        weather api view
                        @*<img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(121).jpg"
                             alt="Second slide">*@

                        <a class="weatherwidget-io" href="https://forecast7.com/en/51d25n85d32/ontario/" data-label_1="ONTARIO" data-label_2="WEATHER" data-mode="Current" data-days="3" data-theme="original">ONTARIO WEATHER</a>
                        <script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
                        </script>
                    </div>
                    <div class="carousel-item">
                        Api 3 view
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(31).jpg"
                             alt="Third slide">
                    </div>

                    <div class="carousel-item">
                        Api 4 view
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(31).jpg"
                             alt="Third slide">
                    </div>
                </div>
                <!--/.Slides-->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-thumb" data-slide-to="0" class="active">
                        <div class="icon">
                            <img src="https://mdbootstrap.com/img/Photos/Others/Carousel-thumbs/img%20(88).jpg" width="100">
                        </div>
                        <h3 class="sm-heading">Notice</h3>

                    </li>
                    <li data-target="#carousel-thumb" data-slide-to="1">
                        <div class="icon">
                            <img src="https://mdbootstrap.com/img/Photos/Others/Carousel-thumbs/img%20(121).jpg" width="100">
                        </div>
                        <h3 class="sm-heading">Weather</h3>

                    </li>
                    <li data-target="#carousel-thumb" data-slide-to="2">
                        <div class="icon">
                            <img src="https://mdbootstrap.com/img/Photos/Others/Carousel-thumbs/img%20(31).jpg" width="100">
                        </div>
                        <h3 class="sm-heading">API 3</h3>
                    </li>
                    <li data-target="#carousel-thumb" data-slide-to="3">
                        <div class="icon">
                            <img src="https://mdbootstrap.com/img/Photos/Others/Carousel-thumbs/img%20(31).jpg" width="100">
                        </div>
                        <h3 class="sm-heading">API 4</h3>
                    </li>
                </ol>
            </div>
            <!--/.Carousel Wrapper-->
        </div>
    </div>
</div>
