@model ConnectMedia.Common.DTO.NoticeDTO


@{
    ViewData["Title"] = "Preview";
}

<div class="noticePreview">
    <div class="bg">
        @Html.Raw(Model.Content);

        @ViewBag.Key;
    </div>
</div>




<div class="row adsView ipad">
    <div class="col-md-6 noticePreviewArea">
        @Html.Raw(Model.Content);
    </div>
    <div class="col-md-6 adminPreviewArea">
        <div class="admintopboxes">
            <div class="currentTime">
                <i class="fa fa-clock-o"></i>
                <span>3:25 PM</span>
            </div>
            <div class="currentWeather">
                weather
  
            </div>
            <div class="currentDate">
                date
            </div>
        </div>
        <div class="adminnotice">
            admin Content
        </div>
        <div class="adminbtmboxes">
            <div class="card col-md-4 mb-0">
                <div class="icon"></div>
                <h3 class="sm-heading">Sports</h3>
            </div>
            <div class="card col-md-4 mb-0 weatherBtn">
                <div class="icon"></div>
                <h3 class="sm-heading">News</h3>
            </div>
            <div class="card col-md-4 sportBtn">
                <div class="icon"></div>
                <h3 class="sm-heading">Weather</h3>
            </div>
            <div class="card col-md-4 mb-0 adminNoticeBtn">
                <div class="icon"></div>
                <h3 class="sm-heading">Notice</h3>
            </div>
        </div>
    </div>
</div>