.postDatewrapper {
    text-align: center;
}
.postDatewrapper .Date {
    background: #26c6da;
    padding: 1rem;
    color: #fff;
}

.Update-notice-content .card {
    border-radius: 0 4px 4px 4px;
    border: 0;
}

.user-profile .profile-img  {
    width: 100px;
    margin: 0 auto;
}
.user-profile .profile-img::before{
    width: 100px;
    height: 100px;
}

.left-sidebar .user-profile .profile-text {
    display: none;
}
.mini-sidebar .user-profile .profile-img {
    width: 50px;
}
.mini-sidebar .user-profile .profile-img::before{
    width: 50px;
    height: 50px;
}

.btn-circle.right-side-toggle {
    display: none;
}


.left-sidebar .user-profile {
    background: #1c81d9!important;
}
.left-sidebar, .left-sidebar .sidebar-nav {
    background: #1e88e5;
}
.sidebar-nav > ul > li, .sidebar-nav > ul > li a, .sidebar-nav > ul > li a i {
    color: #fff;
}

.login-box .social {
    display: none !important;
}

div#example23_wrapper .dt-buttons {
    display: none;
}

a.btn.btn-info.btn-block.text-uppercase.waves-effect.waves-light {
    color: #fff;
}

/*Notice card*/
.card-icon {
    margin-bottom: 1.75rem;
}
.card-icon i {
    font-size: 65px;
    line-height: 1.5;
    color: #26c6da5e;
}

.action-wrapper {
    text-align: center;
    width: 70px;
    background: #26c6da;
    padding: 0.5rem;
    float: right;
    margin: 0 0 0 auto;
    color: #fff;
}

    .action-wrapper a.fa {
        margin: 0 0.3rem;
        color: #fff;
    }

.noticePreview {
    position: relative;
    margin-top: 3.5rem;
    /* background: antiquewhite; */
    background-image: url(../images/smarttv1.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 3.5rem 3.5rem 5rem 3.5rem;
    width: 90%;
    margin: 3.5rem auto 0 auto;
    height: 696px;
    box-shadow: 0px 0px 9px 0.5px #d9f1ffb8;
}

    .noticePreview figure.easyimage.easyimage-full {
        content: url('../images/automation.jpg');
        width: 100%;
        height: 220px;
        object-fit: cover;
    }
    .noticePreview h1 {
        margin-bottom: 29px;
    }
    /*Classified*/

.card.classified-card {
    color: #fff;
    background: #ffb22b;
}
/*.classified-card .form-group {
    display: flex;
    align-items: center;
}*/
/*.classified-card label.control-label {
    margin: 0 13px 0 auto;
    width: 25%;
    position: absolute;
}*/


.classified-card input, .classified-card textarea {
    border: 0;
    background: transparent;
    border-bottom: 1px solid #ffffff73;
    border-radius: 0;
    color: #fff;
}

.classified-card .form-control:focus {
    background: none;
    border-color: #fff;
    color: #fff;
}

/*Toggeles css*/
i.fa.fa-toggle-on {
    color: darkgreen;
}

canvas#pdfViewer {
    width: 100%;
}
    .paper {
    background: #fff;
    margin-top: 1.5rem;
    box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0,0,0,0.15),
    /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
    padding: 30px;
}

.offset-10.col-lg-2.col-md-2 {
    margin: 0 0 0 auto;
}



/*******************************************************************************************************
    *steps css Start*
***********************************************************************************************************/
/* wrapper */
.warp {
    position: relative;
    margin: 50px 100px;
}

/* progress bar */
.line {
    width: 500px;
    height: 5px;
    background: red;
    position: absolute;
    left: 0;
    top: 0;
}

/* step */
.step {
    width: 0px;
    height: 5px;
    background: blue;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

/* count */
.flag {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid red;
    position: absolute;
    top: -8px;
    background: #fff;
    z-index: 10;
}

/* next/prev buttons */
.next {
    margin-top: 30px;
}

.prev {
    margin-top: 30px;
}


/*******************************************************************************************************
    *steps css END*
***********************************************************************************************************/

/*Ipad*/
.ipad {
    /* display: block; */
    color: #fff;
    text-align: center;
    /* font-family: "SF Pro Display", Helvetica Neue, Arial, sans-serif; */
    /* letter-spacing: -0.022em; */
    /* font-size: 2.5vmin; */
    /* text-shadow: 0 0 0.5em #000; */
    background-color: #1c81d9;
    background-size: auto 200%, cover;
    background-repeat: no-repeat, no-repeat;
    border: solid #111;
    margin-bottom: 2em;
    position: relative;
    box-shadow: 0 0.5em 2em 0.2em rgba(0, 0, 0, 0.33), 0 0 0 0.5px #000 inset;
    transition: all 0.1s linear, line-height 0s linear;
    background-position: 50% 100%, center;
    transform-origin: bottom center;
    /* margin-left: 2em; */
    height: 185.8vmin;
    width: 100%;
    /*line-height: 85.8vmin;*/
    border-width: 3vmin;
    border-radius: 4.2857142857vmin;
    z-index: 100;
}

.adminbtmboxes {
    background: #E0E5EC;
    padding: 0.5rem;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}
    .adminbtmboxes .card {
        border: 0;
        padding: 0.5rem 0.5rem;
        margin: 0 auto;
        max-width: 22%;
        text-align: center;
        background-color: #E0E5EC;
        box-shadow: 9px 9px 16px rgba(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
        background-clip: unset;
        height: 115px;
        justify-content: flex-end;
    }
        .adminbtmboxes .card h3.sm-heading {
            margin-bottom: 0;
            font-size: 1.25em;
            font-weight: 600;
        }




.admintopboxes div {
    display: inline-block;
    width: 30.33%;
}


/*notice ipad ads*/
.noticePreviewArea {
    border-right: 1px solid;
}


/*Admin Notice area*/
.adminnotice {
    border: 1px solid;
    border-radius: 5px;
    min-height: 160px;
}