@model List<ConnectMedia.Common.DTO.NoticeDTO>
@{
  ViewData["Title"] = "PreviewPlaylist";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var notice in Model)
{
  <div class="noticePreview">
    <div class="bg" id="@notice.Id">
      @Html.Raw(@notice.Content);

    </div>
  </div>

}
